HPE_FrontEnd/src/hPE/core/location/LocationServer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost:8080/axis/LocationServer.jws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8080/axis/LocationServer.jws" xmlns:intf="http://localhost:8080/axis/LocationServer.jws" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="getComponentResponse">

      <wsdl:part name="getComponentReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="unregisterComponentResponse">

      <wsdl:part name="unregisterComponentReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getComponentRequest">

      <wsdl:part name="packageName" type="xsd:string"/>

      <wsdl:part name="componentName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="fetchPackagesRequest">

   </wsdl:message>

   <wsdl:message name="createPackageResponse">

      <wsdl:part name="createPackageReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="sumResponse">

      <wsdl:part name="sumReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="fetchPackagesResponse">

      <wsdl:part name="fetchPackagesReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="registerComponentResponse">

      <wsdl:part name="registerComponentReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="removePackageResponse">

      <wsdl:part name="removePackageReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="unregisterComponentRequest">

      <wsdl:part name="packageName" type="xsd:string"/>

      <wsdl:part name="component" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="createPackageRequest">

      <wsdl:part name="packageName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="removePackageRequest">

      <wsdl:part name="packageName" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="registerComponentRequest">

      <wsdl:part name="packageName" type="xsd:string"/>

      <wsdl:part name="component" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="sumRequest">

      <wsdl:part name="x" type="xsd:int"/>

      <wsdl:part name="y" type="xsd:int"/>

   </wsdl:message>

   <wsdl:portType name="LocationServer">

      <wsdl:operation name="fetchPackages">

         <wsdl:input message="impl:fetchPackagesRequest" name="fetchPackagesRequest"/>

         <wsdl:output message="impl:fetchPackagesResponse" name="fetchPackagesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="createPackage" parameterOrder="packageName">

         <wsdl:input message="impl:createPackageRequest" name="createPackageRequest"/>

         <wsdl:output message="impl:createPackageResponse" name="createPackageResponse"/>

      </wsdl:operation>

      <wsdl:operation name="removePackage" parameterOrder="packageName">

         <wsdl:input message="impl:removePackageRequest" name="removePackageRequest"/>

         <wsdl:output message="impl:removePackageResponse" name="removePackageResponse"/>

      </wsdl:operation>

      <wsdl:operation name="sum" parameterOrder="x y">

         <wsdl:input message="impl:sumRequest" name="sumRequest"/>

         <wsdl:output message="impl:sumResponse" name="sumResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getComponent" parameterOrder="packageName componentName">

         <wsdl:input message="impl:getComponentRequest" name="getComponentRequest"/>

         <wsdl:output message="impl:getComponentResponse" name="getComponentResponse"/>

      </wsdl:operation>

      <wsdl:operation name="registerComponent" parameterOrder="packageName component">

         <wsdl:input message="impl:registerComponentRequest" name="registerComponentRequest"/>

         <wsdl:output message="impl:registerComponentResponse" name="registerComponentResponse"/>

      </wsdl:operation>

      <wsdl:operation name="unregisterComponent" parameterOrder="packageName component">

         <wsdl:input message="impl:unregisterComponentRequest" name="unregisterComponentRequest"/>

         <wsdl:output message="impl:unregisterComponentResponse" name="unregisterComponentResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LocationServerSoapBinding" type="impl:LocationServer">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="fetchPackages">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fetchPackagesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="fetchPackagesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/axis/LocationServer.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createPackage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createPackageRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createPackageResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/axis/LocationServer.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removePackage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removePackageRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removePackageResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/axis/LocationServer.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sum">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sumRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="sumResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/axis/LocationServer.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getComponent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getComponentRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getComponentResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/axis/LocationServer.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerComponent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerComponentRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="registerComponentResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/axis/LocationServer.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="unregisterComponent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="unregisterComponentRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="unregisterComponentResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/axis/LocationServer.jws" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LocationServerService">

      <wsdl:port binding="impl:LocationServerSoapBinding" name="LocationServer">

         <wsdlsoap:address location="http://localhost:8080/axis/LocationServer.jws"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>