HPE_Location/WebContent/wsdl/LocationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://location.hPE" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://location.hPE" xmlns:intf="http://location.hPE" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://location.hPE" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <element name="getName">
    <complexType/>
   </element>
   <element name="getNameResponse">
    <complexType>
     <sequence>
      <element name="getNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getComponent">
    <complexType>
     <sequence>
      <element name="packageName" type="xsd:string"/>
      <element name="componentName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getComponentResponse">
    <complexType>
     <sequence>
      <element name="getComponentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="fetchPackages">
    <complexType/>
   </element>
   <element name="fetchPackagesResponse">
    <complexType>
     <sequence>
      <element name="fetchPackagesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerComponent">
    <complexType>
     <sequence>
      <element name="packageName" type="xsd:string"/>
      <element name="componentName" type="xsd:string"/>
      <element name="contents" type="xsd:string"/>
      <element name="binaries" type="apachesoap:Map"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerComponentResponse">
    <complexType>
     <sequence>
      <element name="registerComponentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="unregisterComponent">
    <complexType>
     <sequence>
      <element name="packageName" type="xsd:string"/>
      <element name="componentName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="unregisterComponentResponse">
    <complexType>
     <sequence>
      <element name="unregisterComponentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPresentationMessage">
    <complexType/>
   </element>
   <element name="getPresentationMessageResponse">
    <complexType>
     <sequence>
      <element name="getPresentationMessageReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getNameResponse">

      <wsdl:part element="impl:getNameResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="unregisterComponentResponse">

      <wsdl:part element="impl:unregisterComponentResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getComponentRequest">

      <wsdl:part element="impl:getComponent" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="registerComponentResponse">

      <wsdl:part element="impl:registerComponentResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="fetchPackagesResponse">

      <wsdl:part element="impl:fetchPackagesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getComponentResponse">

      <wsdl:part element="impl:getComponentResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getPresentationMessageRequest">

      <wsdl:part element="impl:getPresentationMessage" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="registerComponentRequest">

      <wsdl:part element="impl:registerComponent" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getNameRequest">

      <wsdl:part element="impl:getName" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getPresentationMessageResponse">

      <wsdl:part element="impl:getPresentationMessageResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="unregisterComponentRequest">

      <wsdl:part element="impl:unregisterComponent" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="fetchPackagesRequest">

      <wsdl:part element="impl:fetchPackages" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="LocationService">

      <wsdl:operation name="getName">

         <wsdl:input message="impl:getNameRequest" name="getNameRequest"/>

         <wsdl:output message="impl:getNameResponse" name="getNameResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getComponent">

         <wsdl:input message="impl:getComponentRequest" name="getComponentRequest"/>

         <wsdl:output message="impl:getComponentResponse" name="getComponentResponse"/>

      </wsdl:operation>

      <wsdl:operation name="fetchPackages">

         <wsdl:input message="impl:fetchPackagesRequest" name="fetchPackagesRequest"/>

         <wsdl:output message="impl:fetchPackagesResponse" name="fetchPackagesResponse"/>

      </wsdl:operation>

      <wsdl:operation name="registerComponent">

         <wsdl:input message="impl:registerComponentRequest" name="registerComponentRequest"/>

         <wsdl:output message="impl:registerComponentResponse" name="registerComponentResponse"/>

      </wsdl:operation>

      <wsdl:operation name="unregisterComponent">

         <wsdl:input message="impl:unregisterComponentRequest" name="unregisterComponentRequest"/>

         <wsdl:output message="impl:unregisterComponentResponse" name="unregisterComponentResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getPresentationMessage">

         <wsdl:input message="impl:getPresentationMessageRequest" name="getPresentationMessageRequest"/>

         <wsdl:output message="impl:getPresentationMessageResponse" name="getPresentationMessageResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LocationServiceSoapBinding" type="impl:LocationService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getComponent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getComponentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getComponentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="fetchPackages">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fetchPackagesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="fetchPackagesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerComponent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerComponentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerComponentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="unregisterComponent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="unregisterComponentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="unregisterComponentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPresentationMessage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPresentationMessageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPresentationMessageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LocationServiceService">

      <wsdl:port binding="impl:LocationServiceSoapBinding" name="LocationService">

         <wsdlsoap:address location="http://localhost:8081/HPE_Location/services/LocationService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
