HPE_BackEnd/HPE_BackEnd/ServiceUtils/Web References/BackEndService/BackEnd.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <s:element name="howManyRunningPlatforms">
        <s:complexType />
      </s:element>
      <s:element name="howManyRunningPlatformsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="howManyRunningPlatformsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="killPlatform">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="killed" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="killPlatformResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="killPlatformResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deploy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="platform_config" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="deployResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deployResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="howManyRunningPlatformsSoapIn">
    <wsdl:part name="parameters" element="tns:howManyRunningPlatforms" />
  </wsdl:message>
  <wsdl:message name="howManyRunningPlatformsSoapOut">
    <wsdl:part name="parameters" element="tns:howManyRunningPlatformsResponse" />
  </wsdl:message>
  <wsdl:message name="killPlatformSoapIn">
    <wsdl:part name="parameters" element="tns:killPlatform" />
  </wsdl:message>
  <wsdl:message name="killPlatformSoapOut">
    <wsdl:part name="parameters" element="tns:killPlatformResponse" />
  </wsdl:message>
  <wsdl:message name="deploySoapIn">
    <wsdl:part name="parameters" element="tns:deploy" />
  </wsdl:message>
  <wsdl:message name="deploySoapOut">
    <wsdl:part name="parameters" element="tns:deployResponse" />
  </wsdl:message>
  <wsdl:message name="howManyRunningPlatformsHttpGetIn" />
  <wsdl:message name="howManyRunningPlatformsHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="killPlatformHttpGetIn">
    <wsdl:part name="killed" type="s:string" />
  </wsdl:message>
  <wsdl:message name="killPlatformHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="deployHttpGetIn">
    <wsdl:part name="platform_config" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="deployHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="howManyRunningPlatformsHttpPostIn" />
  <wsdl:message name="howManyRunningPlatformsHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="killPlatformHttpPostIn">
    <wsdl:part name="killed" type="s:string" />
  </wsdl:message>
  <wsdl:message name="killPlatformHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="deployHttpPostIn">
    <wsdl:part name="platform_config" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="deployHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="BackEndSoap">
    <wsdl:operation name="howManyRunningPlatforms">
      <wsdl:input message="tns:howManyRunningPlatformsSoapIn" />
      <wsdl:output message="tns:howManyRunningPlatformsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="killPlatform">
      <wsdl:input message="tns:killPlatformSoapIn" />
      <wsdl:output message="tns:killPlatformSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deploy">
      <wsdl:input message="tns:deploySoapIn" />
      <wsdl:output message="tns:deploySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BackEndHttpGet">
    <wsdl:operation name="howManyRunningPlatforms">
      <wsdl:input message="tns:howManyRunningPlatformsHttpGetIn" />
      <wsdl:output message="tns:howManyRunningPlatformsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="killPlatform">
      <wsdl:input message="tns:killPlatformHttpGetIn" />
      <wsdl:output message="tns:killPlatformHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="deploy">
      <wsdl:input message="tns:deployHttpGetIn" />
      <wsdl:output message="tns:deployHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BackEndHttpPost">
    <wsdl:operation name="howManyRunningPlatforms">
      <wsdl:input message="tns:howManyRunningPlatformsHttpPostIn" />
      <wsdl:output message="tns:howManyRunningPlatformsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="killPlatform">
      <wsdl:input message="tns:killPlatformHttpPostIn" />
      <wsdl:output message="tns:killPlatformHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="deploy">
      <wsdl:input message="tns:deployHttpPostIn" />
      <wsdl:output message="tns:deployHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BackEndSoap" type="tns:BackEndSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="howManyRunningPlatforms">
      <soap:operation soapAction="http://tempuri.org/howManyRunningPlatforms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="killPlatform">
      <soap:operation soapAction="http://tempuri.org/killPlatform" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deploy">
      <soap:operation soapAction="http://tempuri.org/deploy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BackEndSoap12" type="tns:BackEndSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="howManyRunningPlatforms">
      <soap12:operation soapAction="http://tempuri.org/howManyRunningPlatforms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="killPlatform">
      <soap12:operation soapAction="http://tempuri.org/killPlatform" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deploy">
      <soap12:operation soapAction="http://tempuri.org/deploy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BackEndHttpGet" type="tns:BackEndHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="howManyRunningPlatforms">
      <http:operation location="/howManyRunningPlatforms" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="killPlatform">
      <http:operation location="/killPlatform" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deploy">
      <http:operation location="/deploy" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BackEndHttpPost" type="tns:BackEndHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="howManyRunningPlatforms">
      <http:operation location="/howManyRunningPlatforms" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="killPlatform">
      <http:operation location="/killPlatform" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deploy">
      <http:operation location="/deploy" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BackEnd">
    <wsdl:port name="BackEndSoap" binding="tns:BackEndSoap">
      <soap:address location="http://127.0.0.1:8081/BackEnd.asmx" />
    </wsdl:port>
    <wsdl:port name="BackEndSoap12" binding="tns:BackEndSoap12">
      <soap12:address location="http://127.0.0.1:8081/BackEnd.asmx" />
    </wsdl:port>
    <wsdl:port name="BackEndHttpGet" binding="tns:BackEndHttpGet">
      <http:address location="http://127.0.0.1:8081/BackEnd.asmx" />
    </wsdl:port>
    <wsdl:port name="BackEndHttpPost" binding="tns:BackEndHttpPost">
      <http:address location="http://127.0.0.1:8081/BackEnd.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>