HPE_BackEnd/HPE_BackEnd/TestService/Web References/CoreService/Core.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s1="http://ComponentRepository.hpe.mdcc.ufc.br/AbstractTypes" xmlns:tns="http://ComponentRepository.hpe.mdcc.ufc.br/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://ComponentRepository.hpe.mdcc.ufc.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ComponentRepository.hpe.mdcc.ufc.br/">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <s:element name="resolve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="contract" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="resolveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="resolveResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="deploy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="arch_desc_xml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="arch_ref" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="c_ids" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="c_contracts" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="c_choices" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="platform_address_SAFe" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deployResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deployResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="instantiate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="arch_desc_xml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="arch_ref" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="platform_address_SAFe" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="instantiateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="instantiateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
    <s:schema targetNamespace="http://ComponentRepository.hpe.mdcc.ufc.br/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="resolveSoapIn">
    <wsdl:part name="parameters" element="tns:resolve" />
  </wsdl:message>
  <wsdl:message name="resolveSoapOut">
    <wsdl:part name="parameters" element="tns:resolveResponse" />
  </wsdl:message>
  <wsdl:message name="deploySoapIn">
    <wsdl:part name="parameters" element="tns:deploy" />
  </wsdl:message>
  <wsdl:message name="deploySoapOut">
    <wsdl:part name="parameters" element="tns:deployResponse" />
  </wsdl:message>
  <wsdl:message name="instantiateSoapIn">
    <wsdl:part name="parameters" element="tns:instantiate" />
  </wsdl:message>
  <wsdl:message name="instantiateSoapOut">
    <wsdl:part name="parameters" element="tns:instantiateResponse" />
  </wsdl:message>
  <wsdl:message name="resolveHttpGetIn">
    <wsdl:part name="contract" type="s:string" />
  </wsdl:message>
  <wsdl:message name="resolveHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="deployHttpGetIn">
    <wsdl:part name="arch_desc_xml" type="s:string" />
    <wsdl:part name="arch_ref" type="s:string" />
    <wsdl:part name="c_ids" type="s1:StringArray" />
    <wsdl:part name="c_contracts" type="s1:StringArray" />
    <wsdl:part name="c_choices" type="s1:StringArray" />
    <wsdl:part name="platform_address_SAFe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="deployHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="instantiateHttpGetIn">
    <wsdl:part name="arch_desc_xml" type="s:string" />
    <wsdl:part name="arch_ref" type="s:string" />
    <wsdl:part name="platform_address_SAFe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="instantiateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="resolveHttpPostIn">
    <wsdl:part name="contract" type="s:string" />
  </wsdl:message>
  <wsdl:message name="resolveHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="deployHttpPostIn">
    <wsdl:part name="arch_desc_xml" type="s:string" />
    <wsdl:part name="arch_ref" type="s:string" />
    <wsdl:part name="c_ids" type="s1:StringArray" />
    <wsdl:part name="c_contracts" type="s1:StringArray" />
    <wsdl:part name="c_choices" type="s1:StringArray" />
    <wsdl:part name="platform_address_SAFe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="deployHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="instantiateHttpPostIn">
    <wsdl:part name="arch_desc_xml" type="s:string" />
    <wsdl:part name="arch_ref" type="s:string" />
    <wsdl:part name="platform_address_SAFe" type="s:string" />
  </wsdl:message>
  <wsdl:message name="instantiateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="CoreSoap">
    <wsdl:operation name="resolve">
      <wsdl:input message="tns:resolveSoapIn" />
      <wsdl:output message="tns:resolveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deploy">
      <wsdl:input message="tns:deploySoapIn" />
      <wsdl:output message="tns:deploySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="instantiate">
      <wsdl:input message="tns:instantiateSoapIn" />
      <wsdl:output message="tns:instantiateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CoreHttpGet">
    <wsdl:operation name="resolve">
      <wsdl:input message="tns:resolveHttpGetIn" />
      <wsdl:output message="tns:resolveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="deploy">
      <wsdl:input message="tns:deployHttpGetIn" />
      <wsdl:output message="tns:deployHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="instantiate">
      <wsdl:input message="tns:instantiateHttpGetIn" />
      <wsdl:output message="tns:instantiateHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CoreHttpPost">
    <wsdl:operation name="resolve">
      <wsdl:input message="tns:resolveHttpPostIn" />
      <wsdl:output message="tns:resolveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="deploy">
      <wsdl:input message="tns:deployHttpPostIn" />
      <wsdl:output message="tns:deployHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="instantiate">
      <wsdl:input message="tns:instantiateHttpPostIn" />
      <wsdl:output message="tns:instantiateHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CoreSoap" type="tns:CoreSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="resolve">
      <soap:operation soapAction="http://ComponentRepository.hpe.mdcc.ufc.br/resolve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deploy">
      <soap:operation soapAction="http://ComponentRepository.hpe.mdcc.ufc.br/deploy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="instantiate">
      <soap:operation soapAction="http://ComponentRepository.hpe.mdcc.ufc.br/instantiate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CoreSoap12" type="tns:CoreSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="resolve">
      <soap12:operation soapAction="http://ComponentRepository.hpe.mdcc.ufc.br/resolve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deploy">
      <soap12:operation soapAction="http://ComponentRepository.hpe.mdcc.ufc.br/deploy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="instantiate">
      <soap12:operation soapAction="http://ComponentRepository.hpe.mdcc.ufc.br/instantiate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CoreHttpGet" type="tns:CoreHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="resolve">
      <http:operation location="/resolve" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deploy">
      <http:operation location="/deploy" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="instantiate">
      <http:operation location="/instantiate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CoreHttpPost" type="tns:CoreHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="resolve">
      <http:operation location="/resolve" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deploy">
      <http:operation location="/deploy" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="instantiate">
      <http:operation location="/instantiate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Core">
    <wsdl:port name="CoreSoap" binding="tns:CoreSoap">
      <soap:address location="http://127.0.0.1:8080/Core.asmx" />
    </wsdl:port>
    <wsdl:port name="CoreSoap12" binding="tns:CoreSoap12">
      <soap12:address location="http://127.0.0.1:8080/Core.asmx" />
    </wsdl:port>
    <wsdl:port name="CoreHttpGet" binding="tns:CoreHttpGet">
      <http:address location="http://127.0.0.1:8080/Core.asmx" />
    </wsdl:port>
    <wsdl:port name="CoreHttpPost" binding="tns:CoreHttpPost">
      <http:address location="http://127.0.0.1:8080/Core.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>